p {
  font-family: Lato;
}

.div-header {
  display:none;
  padding-right: 3px;
  font-style: bold;
}


table,
tbody, thead {
  display:inline-block;
  width: 90%;
}

tr {
  display: flex;
  
  flex-wrap: wrap;
}

th {
  flex:1;
  text-align: left;
}

td {
  flex:1;
}

@media (max-width: 767px) {
.tblwrapper  td:nth-child(1n+5)  {
  display: block;
   width:100%; 
  flex:auto;
}

.tblwrapper  td:nth-child(1n+5) {
overflow: hidden;
  max-height: 0;
  
}

.tblwrapper  td:nth-child(1n+5) .content {
  
 
  background-color: red;
 
  
}

.tblwrapper  td:nth-child(1n+5).show {
  
  overflow: show;
  background-color: red;
  max-height: 500px;
  
}



.tblwrapper  td:nth-child(1n+5) .div-header {
  
  display: initial;
  
}


.tblwrapper  th:nth-child(1n+5) {
  display: none;
}
}


@media (max-width: 1024px) {
.tblwrapper  td:nth-child(1n+7)  {
  display: block;
   width:100%; 
  flex:auto;
}

.tblwrapper  td:nth-child(1n+7) {
overflow: hidden;
  max-height: 0;
}

.tblwrapper  td:nth-child(1n+7).show {
  
  overflow: show;
  background-color: red;
  max-height: 500px;
  
}

.tblwrapper  td:nth-child(1n+7) .div-header {
  
  display: initial;
  
}


.tblwrapper  th:nth-child(1n+7) {
  display: none;
}
}
 

