@mixin responsive-limit($max-width, $nth-start) {
      
    @media (max-width: $max-width) {
    .tblwrapper  td:nth-child(1n+#{$nth-start})  {
      display: block;
       width:100%; 
      flex:auto;
    }
    
    .tblwrapper  td:nth-child(1n+#{$nth-start}) {
    overflow: hidden;
      max-height: 0;
    }

    .tblwrapper  td:nth-child(1n+#{$nth-start}).show {
      overflow: show;
      background-color: red;
      max-height: 500px;
    }
    
    
    .tblwrapper  td:nth-child(1n+#{$nth-start}) .div-header {
      display: initial;
    }
       
    .tblwrapper  th:nth-child(1n+#{$nth-start}) {
      display: none;
    }
  }
}

.div-header {
  display:none;
  padding-right: 3px;
  font-style: bold;
}

table,
tbody, thead {
  display:inline-block;
  width: 90%;
}

tr {
  display: flex;
  
  flex-wrap: wrap;
}

th {
  flex:1;
  text-align: left;
}

td {
  flex:1;
}

@include responsive-limit(767px, 5 (1,));

@include responsive-limit(1024px, 7);

